 /* mobile first */

/* * {
	font-size: 20px;
} */

 body {
	background-color: #F2ECE7;
	font-size: 30px;
 }
 
 button {
	background: none;
	border: none;
	font-family: var(--font-family-main);
	font-size: var(--font-size-regular);
	cursor: pointer;
 }

 a {
	font-family: var(	--font-family-main);
	color: var(--color-text);
	text-decoration: none;
}

li {
	list-style: none;
	margin-top: 3vh;
	transition: all 0.5s ease-in-out;
}

 h1 {
	font-family: var(--font-family-main);
	font-size: var(--font-size-large);
	letter-spacing: 0.5rem;
 }

 h2 {
	font-family: var(--font-family-main);
	font-size: var(--font-size-regular);
	letter-spacing: 0.2rem;
	padding: 1rem;
	opacity: 0.9;
 }

 p {
	font-family: var(--font-family-second);
	font-size: var(--font-size-regular);
	letter-spacing: 0.02rem;
	padding: 0.8rem;
 }

 /* for desktop */
 @media screen and (min-width: 768px) {

	a {
		font-family: var(	--font-family-main);
		color: var(--color-text);
		text-decoration: none;
	}

	li {
		list-style: none;
		margin: 0 1.5vw;
	}
 }


 /* for users who prefers redused motion, to remove animations */
 @media screen and (prefers-reduced-motion: reduce) {
	body {
		scroll-behavior: unset;
	}

	/* stop the animations */
	* {
		animation: none
	}

 }