 
 body {
	background-color: #F2ECE7;
 }
 
 button {
	background: none;
	border: none;
	font-family: var(--font-family-main);
	font-size: var(--font-size-regular);
	cursor: pointer;
 }

 h1 {
	font-family: var(--font-family-main);
	font-size: var(--font-size-large);
	letter-spacing: 0.5rem;
 }

 h2 {
	font-family: var(--font-family-main);
	font-size: var(--font-size-regular);
	letter-spacing: 0.2rem;
	padding: 1rem;
 }

 p {
	font-family: var(--font-family-second);
	font-size: var(--font-size-regular);
	letter-spacing: 0.02rem;
	padding: 0.8rem;
 }

 /*  */
 @media screen and (prefers-reduced-motion= reduce) {
	body {
		scroll-behavior: unset;
	}

	* {
		animation-duration: 0.0001ms;
	}
}