:root {
	--background: linen;
	--color-text: #000000cc;

	--padding: 1rem;

	--font-family-main: 'Marcellus SC', serif;
	--font-family-second: 'Cormorant Garamond', serif;
	--font-size-regular: 1.1rem;
	--font-size-small: 0.75rem;
	--font-size-large: 1.5rem;
	--font-size-mobile: 1.25rem;
	--font-style-links: italic;

}