.contact__container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contact__text {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contact__link {
	font-family: var(--font-family-second);
	font-style: italic;
}

@media screen and (min-width: 768px) {
	.contact__container {
		flex-direction: row;
		margin: 1.5rem;
	}

	.contact__text {
		margin: 2rem;
		align-items: flex-start;
	}
}