/* mobile and tablet */

.contact {
	width: 90vw;
	margin: 0 5vw;
}

.contact__container {
	width: 100%;
	display: flex;
	/* justify-items: center; */
	flex-direction: column;
	/* align-items: center; */
	padding-top: 2rem;
}

.contact__content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contact__container-image {
	width: 100%;
	object-fit: contain;
	align-self: center;
}

.contact__container-image img {
	width: 100%;
}

.contact__link {
	font-family: var(--font-family-second);
	font-style: italic;
}



/* for desktop */

@media screen and (min-width: 768px) {
	.contact__container {
		height: 80vh;
		flex-direction: row;
		align-content: center;
	}

	.contact__container-image {
		width: 42vw;
		max-height: 100%;
		object-fit: contain;
		padding-right: 3vw;
		overflow: hidden;
	}
	.contact__content {
		width: 45vw;
		padding-left: 3vw;
		justify-content: center;
		align-items: baseline;
		/* margin: 2rem; */
		/* align-items: flex-start; */
	}
	.contact__content h2 {
		align-self: center;
	}

	.contact__text {
		padding: 1vw 0;
	}
}