.hero {
	width: 100vw;
	height: 100vh;
	opacity: 0.8;
	
	/* https://codetheweb.blog/fullscreen-image-hero/ */
	background-image: url(../../assets/images/hero_converted.jpeg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.hero__text {
	background: none;
	/* opacity: 0.9; */
	font-family: var(--font-family-main);
	font-size: var(--font-size-large);
	letter-spacing: 0.5rem;
	display: flex;
	justify-content: center;
	margin: 1rem;
}

.header__menu-button {
	font-size: var(--font-size-large);
}

@media screen and (min-width: 768px) {
	
	header {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.header__menu-button {
		position: absolute;
		right: 1.5rem;
	}
	
}
	