/*	mobile first */

.header {
	position: sticky;
	top: 0;
	transition: transform 0.8s ease;
}

.header--hidden {
	transform: translateY(-100%);
	opacity: 0.5;
}

.hero {
	position: relative;
	width: 100vw;
	height: 100vh;
	opacity: 0.8;

	/* https://codetheweb.blog/fullscreen-image-hero/ */
	background-image: url(../../assets/images/hero_converted_portrait.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.header__content {
	background: none;
	display: grid;
	grid-template-columns: 15vw 60vw 15vw;
	justify-content: center;
	align-items: center;
	opacity: 0.9;
	font-family: var(--font-family-main);
	letter-spacing: 0.5rem;
	padding-top: 3vw;
	margin: 0 5vw 3vw 5vw;
}

.header__headline {
	font-size: var(--font-size-mobile);
	justify-self: center;
}


/* for tablets */
@media screen and (min-width: 480px) {

	.header__headline {
		font-size: var(--font-size-large);
	}
}

/* for desktop */
@media screen and (min-width: 768px) {

	.hero {
		background-image: url(../../assets/images/hero_converted.jpeg);
	}
	
}
	