/* mobile first */
main {
	display: flex;
	justify-content: center;
}

.slideshow {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.slideshow__buttons {
	display: none;
}

.slideshow__slide {
	display: flex;
	justify-items: center;
	flex-direction: column;
	width: 80vw;
	height: 80vh;
	margin-top: 5vh;
}

.slideshow__image {
	object-fit: contain;
	width: 100%;
	height: 100%;
}

@media screen and (min-width: 768px) {

.slideshow {
	width: 100vw;
	height: 100vh;
	flex-direction: row;
}

.slideshow__slide {
	display: none;
	position: absolute;
}

.slideshow__slide--active {
	display: block;
}

.slideshow__image {
	object-fit: contain;
	width: 100%;
	height: 100%;
}

.slideshow__buttons {
	cursor: pointer;
	display: block;
	z-index: 2;
}

.slideshow__button-previous {
	position: absolute;
	left: 3vw;
	top: 50%;
}

.slideshow__button-next {
	position: absolute;
	right: 3vw;
	top: 50%;
}

.slideshow__button-next:hover,
.slideshow__button-previous:hover,
.slideshow__button-next:focus,
.slideshow__button-previous:focus {
	color: white;
	background-color: #000000;
	outline: 1px solid black;
	transition: background-color 0.6s ease;
}

.slideshow__navigator {
	position: absolute;
	bottom: 1rem;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	justify-content: center;
	width: 100%;
	z-index: 20;
	background: none;
}

.slideshow__navigator-dot {
	background: beige;
	border: 1px solid black;
	border-radius: 50%;
	padding: 0.5rem;
}

.slideshow__navigator-dot--active,
.slideshow__navigator-dot:hover {
	background: black;
	/* position: absolute; */
	bottom: 1rem;
}	
}